<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manhattan.java.minproject.service.app.dao.HotWordShowDao">
    <resultMap id="BaseResultMap" type="com.manhattan.java.minproject.service.app.entity.HotWordShow">
        <id column="id" property="id" />
        <id column="hot_word" property="hotWord" />
        <id column="search_num" property="searchNum" />
        <id column="time_quantum" property="timeQuantum" />
        <id column="order" property="order" />
        <id column="create_time" property="createTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id, hot_word, search_num, time_quantum, order, create_time
    </sql>
</mapper>