<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manhattan.java.minproject.service.admin.dao.HotWordRuleDao">
    <resultMap id="BaseResultMap" type="com.manhattan.java.minproject.service.admin.entity.HotWordRule">
        <id column="id" property="id"/>
        <id column="refresh_cycle" property="refreshCycle"/>
        <id column="hot_num" property="hotNum"/>
        <id column="create_id" property="createId"/>
        <id column="create_name" property="createName"/>
        <id column="create_time" property="createTime"/>
        <id column="update_id" property="updateId"/>
        <id column="update_name" property="updateName"/>
        <id column="update_time" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, refresh_cycle, hot_num, create_id, create_name, create_time, update_id, update_name, update_time
    </sql>


    <select id="pageAll"
            parameterType="com.manhattan.java.minproject.service.admin.dto.HotWordRulePageDTO"
            resultType="com.manhattan.java.minproject.service.admin.vo.HotWordRuleVO">
        select * from hot_word_rule t
        where 1=1
        <if test="param.hotNum != null ">
            AND t.`hot_num` = #{param.hotNum}
        </if>
        <if test="param.refreshCycle != null ">
            AND t.`refresh_cycle` = #{param.refreshCycle}
        </if>
    </select>

    <select id="getNum" resultType="int">
        SELECT
        count(id)
        FROM
        hot_word_rule
    </select>
    <select id="getFirst" resultType="com.manhattan.java.minproject.service.admin.entity.HotWordRule">
        SELECT
         *
        FROM
        hot_word_rule
    </select>
</mapper>